<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Analytics -->
<script>

</script>
<!-- End Google Analytics -->
    {% block head %}
        <title>{% block title %}Todo App{% endblock %}</title>
        <script>
            var base_url = '{{ base_url() }}';
        </script>
        <script src="{{ base_url() }}/node_modules/jquery/dist/jquery.js"></script>
    {% endblock %}
    {% block style %}
        <link rel="stylesheet" href="{{ base_url() }}/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/node_modules/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/styles/main.css">
        <link rel="stylesheet" href="{{ base_url() }}/node_modules/select2/dist/css/select2.css">
    <style>

    </style>
    {% endblock %}
</head>
<body>

<div id="content" class="container">
    {% if auth.check %}
    <nav class="navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav mr-0 mr-auto">
                <li class="nav-item align-bottom">
                    <a href="{{ path_for('index') }}" class="nav-link">Lists</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto mr-0 mt-2 mt-lg-0">
                <li class="nav-item align-bottom">
                    <span>{{ auth.user.name }}</span>
                    <a class="nav-link" href="#" data-path="{{ path_for('logout') }}" aria-expanded="false" id="logout">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% endif %}

    {% block content %}{% endblock %}
</div>
{% block script %}
    <script>

    </script>
    <script src="{{ base_url() }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/scripts/main.js"></script>
    <script src="{{ base_url() }}/node_modules/select2/dist/js/select2.js"></script>

{% endblock %}
</body>
</html>