<div class="row py-2" data-itemid="{{ list.id }}"  data-waiting="fa-spinner fa-pulse" data-listname="{{ list.name }}">
	<div class="col-11 justify-content-between">
		<div class="card">
			<div class="card-body">
				<a href="{{ path_for('list.id', {'list_id': list.id}) }}">{{ list.name }}</a>
			</div>
		</div>
	</div>
	{% if list.getUserId() == auth.user.getId() %}
	<div class="col-1 align-self-center">
		<i class="fa fa-trash fa-2x" data-toggle="modal" data-target="#confirm-delete" data-path="{{ path_for('list.delete') }}" data-item="list"></i>
	</div>
	{% endif %}
	<div class="col-12">
		<div class="float-left">- {{ list.getUserId() }}</div>
		<div class="float-right">
			<i class="fa fa-share float-right shareable" data-toggle="modal" data-target="#shareList" data-path="/main/list/" data-item="list"></i>
		</div>
	</div>
</div>